@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
body {
    font-family: Arial, sans-serif;
    background-image: url("./images/jiop.jpg");
    color: white;
}
form {
    background-color: rgb(47, 46, 46);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    margin-left: 22vw;
    color: white;
}
h1{
   font-weight: bolder;
   text-align: center;
}
.question {
    margin-bottom: 20px;
}

.question p {
    font-weight: bold;

}

label {
    display: block;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="radio"] {
    margin-right: 10px;
}

label:hover {
    background-color: #f9f9f9;
    color: black;
}
.buton{
font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #fff;
    background: #111;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
    transition: color 0.3s, box-shadow 0.3s;
    box-shadow: 0 0 5px rgba(0, 255, 255, 0.5), 
                0 0 10px rgba(0, 255, 255, 0.5),
                0 0 15px rgba(0, 255, 255, 0.5),
                0 0 20px rgba(0, 255, 255, 0.5);
}

.buton:hover {
    color: antiquewhite;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.8), 
                0 0 20px rgba(0, 255, 255, 0.8),
                0 0 30px rgba(0, 255, 255, 0.8),
                0 0 40px rgba(0, 255, 255, 0.8),
                0 0 50px rgba(0, 255, 255, 0.8),
                0 0 60px rgba(0, 255, 255, 0.8),
                0 0 70px rgba(0, 255, 255, 0.8);
}
.buton:active{
    transform: scale(0.8);
}

.results {
    margin-top: 50px;
    padding: 10px;
    font-family: cursive;
    font-weight: bold;
    border-radius: 5px;
    height: 100px;
    text-align: center;
}
